.info-container-days
    width: 90%
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    padding: 3em 0
    background: rgba(9, 52, 109, .5)
    margin: 1em 0
    border-radius: 1em
    box-shadow: 2px 10px 35px 1px rgba(0,0,0,0.75)
    .card-five
        width: 100%
        display: flex
        justify-content: center
        align-items: center
        flex-wrap: wrap
        .card
            width: 12em
            height: 12em
            background: rgba(9, 52, 109, .5)
            display: flex
            justify-content: center
            align-items: fflex-start
            flex-direction: column
            margin: 1em
            border-radius: 1em
            border: .1em #fff solid
            box-shadow: 2px 10px 35px 1px rgba(0,0,0,0.75)
            p
                font-size: .8em
                padding: .3em 1em
            .card__date
                font-weight: bold
                font-size: 1em
                text-align: center
    h2
        font-size: 2em
