.menu-container
    width: 100%
    height: 100%
    display: flex
    justify-content: center
    align-items: center
    background: #151c52
    input
        background: #48a9c5
        border: none
        border-radius: .3em
        color: #ffffff
        padding: 1em
        margin: 1em
        width: 10em
        cursor: pointer
        &:hover
            background: #74d2e7